body {
  font-family: "Kosugi Maru", sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #ec407a;
}

li {
  float: left;
  padding-right: 15px;
}

.header {
  background-color: #5e35b1;
  padding: 15 15 15 15;
}

img {
  height: 360px;
  widows: 360px;
}
.container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
